<div class="container about-description" id="about">
  <h1>About</h1>
  <p>
    What if a storm hits Hilton Head Island before you get ready to go on vacation? The answer is simple… stay home! But before
    you unpack, just check to make sure whether the Island has been affected. We have had many tropical storm warnings over
    the years, but unlike Florida we’ve been extremely fortunate. In our opinion, the best offense is defense. We recommend
    purchasing travel insurance. Even the most basic travel insurance will provide some compensation if flights are canceled
    or the island is closed down due to a hurricane. n 2006, the National Hurricane Center is predicting a hurricane season
    with 8 to 10 named storms. As residents of Hilton Head Island, we always prepare the best we can. We are constantly planning
    ahead. You should do the same; you need to plan ahead. While we cannot forecast the weather day in and day out, the Internet
    can provide help in dealing with the variety of weather conditions vacationers may face that could take a toll on Hilton
    Head Island. Weather Channel site and the National Hurricane Centers site are two excellent resources. At Hilton Head
    Rentals we recommend the following. Use the services of a travel professional, especially if you will be vacationing
    during hurricane season. When buying vacation packages through a vacation rental property management company or a travel
    agency, it will reduce your stress because travel professionals are your advocates and are ready to help you through
    difficult travel scenarios. If a vacation is booked online it may be difficult to get through to one of their representatives.
    On Hilton Head Island there are a lot of different vacation companies that offer a variety of vacation insurance plans.
    If you book directly with a vacation rental management company that offers homes, villas and condos, they will in all
    likelihood have insurance plans to offer. If you’re working with a travel agent, they can assist you in determining which
    plan provides the best coverage for the right price. Some even offer a “cancel for any reason” waiver, allowing you to
    see that a hurricane might be swirling for Hilton Head. With this type of plan, your travel professionals can quickly
    use their resources to find an alternate resort area so your vacation won’t be sacrificed. norway. We recommend pur-chasing
    travel insur-ance. Even the most basic travel insurance will provide some com-pensation if flights are canceled or the
    island is closed down due to a hurricane. On Hilton Head Island there are a lot of different vacation companies that
    offer a variety of vacation insurance plans. If you book directly with a vacation rental management company that offers
    homes, villas and condos, they will in all likelihood have insurance (1) plans to offer. If you’re working with a travel
    agent (2), they can assist you in determining which plan provides the best coverage for the right price. Some even offer
    a “cancel for any reason” waiver, allowing you to see that a hurricane might be swirling for Hilton Head. With this type
    of plan, your travel professionals can quickly use their resources to find an alternate resort area so your vacation
    won’t be sacrificed.
    <br>
    <span class="center-image">
      <img src="../../assets/foto1.png">
    </span>
    <br> On Hilton Head Island there are a lot of different vacation companies that offer a variety of vacation insurance plans.
    If you book directly with a vacation rental management company that offers homes, villas and condos, they will in all
    likelihood have insurance plans to offer. If you’re working with a travel agent, they can assist you in determining which
    plan provides the best coverage for the right price. Some even offer a “cancel for any reason” waiver, allowing you to
    see that a hurricane might be swirling for Hilton Head. With this type of plan, your travel professionals can quickly
    use their resources to find an alternate resort area so your vacation won’t be sacrificed. 1. With this type of plan,
    your travel 2. On Hilton Head Island there are a lot of different vacation companies
  </p>
</div>
<div class="container about-booking-input">
  <div class="row about-title">
    <div class="col-md-7 about-title_bookingtitle">
      <h2>Booking</h2>
    </div>
  </div>
  <div class="row about-booking">
    <flash-messages></flash-messages>
    <form [formGroup]="angForm" class="form-element">
      <div class="col-sm-4 offset-sm-2 about-booking_calendar">
        <div class="form-group form-element_date">
          <p-calendar formControlName="date"  [inline]="true" [disabledDates]="restictedBookingDates"  [minDate]="minimumDate" tabindex="0" readonlyInput="true">
            <ng-template pTemplate="date" let-date>
                <span [ngStyle]="{backgroundColor: (date.day ==19) ? '#7cc67c' : 'inherit'}"   style="border-radius:50%">{{date.day}}</span>
            </ng-template>
        </p-calendar>
        </div>
      </div>
      <div class="col-sm-4 about-booking_form">
        <div class="form-group form-element_email">
          <input type="email" class="form-control info" placeholder="Email" formControlName="email" #email (ngModelChange)="onChange($event)">
        </div>
        <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
          class="alert alert-danger">
          <div *ngIf="angForm.controls['email'].errors.required">
            Email is required.
          </div>
        </div>
        <div class="input-group mb-3 form-element_city">
            <select class="custom-select" id="inputGroupSelect01" #cityName (change)="changeSelect(cityName.value)" formControlName='city'>
                    <option selected *ngFor="let city of cities" [ngValue]="city.cityName">{{city.cityName}}</option>
        
                  </select>
          </div>
          <div class="input-group mb-3 form-element_hotel">
            <select class="custom-select" id="inputGroupSelect01" #hotelName formControlName='hotel'>
                    <option selected *ngFor="let hotel of hotels" [ngValue]="hotel.hotelName">{{hotel.hotelName}}</option>
        
                  </select>
          </div>
        <div class="form-group">
          <button type="submit" (click)="addBooking(date, email.value, cityName.value , hotelName.value)" class="btn btn-primary btn-block form-element_btn"
            [disabled]="!validEmail">Book</button>
        </div>
      </div>
    </form>
  </div>
</div>
