$booking-text-color: white;
$booking-font: 12pt;
$booking-font-family: Lato,Helvetica,Arial,sans-serif;
$booking-jumbotron-button-hover: #fdcc52;
$booking-jumbotron-button-background-color: #fdcc52;
$booking-jumbotron-button-border-color: #fdcc52;
$button-default: #291c1c;
$booking-text-color-success: #28a745;
