$movies-text-color: white;
$movies-font: 12pt;
$movies-font-family: Lato,Helvetica,Arial,sans-serif;
$movies-jumbotron-button-hover: #fdcc52;
$movies-jumbotron-button-background-color: #fdcc52;
$movies-jumbotron-button-border-color: #fdcc52;
$button-default: #291c1c;
$movies-text-color-success: #28a745;
