<div *ngIf="movie">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{movie.title}} </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <img class="thumbnail" src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
        </div>
        <div class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item">Genres:
              <span *ngFor="let genre of movie.genres">{{genre.name}}, </span>
            </li>
            <li class="list-group-item">Release Date: {{movie.release_date}}</li>
          </ul>
          <br>
          <a *ngIf="movie.homepage" href="{{movie.homepage}}" target="_blank" class="btn btn-default zero">Visit Movie Website</a>
        </div>
        <div *ngFor="let review of review.results" class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item">Author: {{review.author}}</li>
            <li class="list-group-item">Comments: {{review.content}}</li>
            <li class="list-group-item">Comments Link:
              <a href="{{review.url}}">Visit comments link</a>
            </li>
          </ul>
          <br>
        </div>
        <div *ngFor="let comment of comments" class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item">Author: {{comment.author}}</li>
            <li class="list-group-item">Comments: {{comment.description}}</li>

          </ul>
          <br>
        </div>
        <div class="col-md-7">
          <form [formGroup]="angForm" novalidate>
            <div class="form-group">
              <label class="col-md-4">Comment author</label>
              <input type="text" class="form-control" name="author" formControlName="author" #author />
            </div>
            <div *ngIf="angForm.controls['author'].invalid && (angForm.controls['author'].dirty || angForm.controls['author'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['author'].errors.required">
                Name is required.
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4">comment description</label>
              <input type="text" class="form-control" formControlName="description" #description/>
            </div>
            <div *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)"
              class="alert alert-danger">
              <div *ngIf="angForm.controls['description'].errors.required">
                description is required.
              </div>
            </div>
            <div class="form-group">
              <button (click)="addReview(author.value, description.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
