<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Bought a Movie?</div>
                <div class="panel-body">
                    <form (ngSubmit)="addMovie(addmovie)">
                        <div class="form-group movie-username">
                          <label for="title">Name:</label>
                          <input type="text" class="form-control movie-title_text" id="movie-title" [(ngModel)]="addmovie.title" name="title">
                        </div>           
                    <button class="btn btn-primary" style="cursor: pointer">Save</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>